/*  ESTILOS PAGINA PRINCIPAL */
body{
    color: #FCFCFC;
}
#img-fondo{
background: url(fondo4.png);
padding-bottom: 5%;
}
#navegador{
    padding-top: 2%; 
    padding-bottom: 3%; 
}
#imagen-principal{
    margin: 11% 0 0 5%;
}
#imagen-miramas{
    margin:10% 0 0 38%;
}

/*  ESTILOS GENERALES  */
h1{
    font-family: 'Noto Sans SC', sans-serif; 
    font-size: 90px;
    padding: 13% 0 22% 0;
    color: #101125;  
}
h2{
    font-family:'Noto Sans SC', sans-serif;
    font-size: 40px;
    color: #424040;
}
h3{
    font-family: 'Noto Sans SC', sans-serif; 
    font-size: 22px;
    color: #101125; 
}
p{
    font-size: 165x;
    color: #101125; 
    font-family: 'Noto Sans SC', sans-serif; 
}
h4{
    font-size: 18px;
    font-family:'Noto Sans SC', sans-serif; 
    color: #101125; 
}
h5{
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}
a{
    font-size: 12px;
    font-family:'Noto Sans SC', sans-serif;
    color: #C59489;
    font-weight: 500;
}

/*SECCIÓN PROYECTOS*/ 

#container1{
    margin-top:6%;
}
.titulos-proyectos{
    margin-bottom: 4%;
    font-weight: 600;
    color: #243750; 
}
#container1,#container2{
    margin-bottom: 6%;
}
.ux-zone{
    color: #686B6F;
}
.btn-proyecto{
    background: #4D5D71;
    padding: 12px 0 12px 0;
    text-align: center;
    margin-left:3%;
    margin-top: 4%;
}
.btn-letra{
    color: white;
}




/* FOOTER */

footer{
    margin-top: 5%;
    padding: 4%;
    padding-bottom: 2%;
    background: #232323;
}
.footer-frase{
    margin-left: 27%;
    margin-bottom: 1%;
}
.btn-contacto{
    margin-left: 38%;
    margin-bottom: 4%;
    margin-top: 3%;
    text-align: center;
}
#name-footer{
    margin-left: 80%;
    color: white;
}


/*  Estilos por sección */
#parte1{
    padding-top: 8%;
}

#contacto2{
    margin-left: 15%;
}
#conocimientos{
    margin-left: 15%;
}
#habilidades{
    text-align:center;
}
#finalmi{
    padding-top: 5%;
    padding-left: 29%;
}
.curriculum{
    padding-left: 39%;
}
.curri{
    margin-left: 8%;
}
.pd-section{
    padding-top: 3%;
}

/*CUMPLO ZONA*/

.cumplo , .sobre-cumplo{
    text-align: center;
    margin-bottom: 7%;
}
#titulo-cumplo{
    margin: 9% 0 4% 0;
}


